**/.git
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/.pytest_cache
**/.mypy_cache
**/.tox
**/.coverage
**/.coverage.*
**/htmlcov
**/nosetests.xml
**/coverage.xml
**/*.log
**/*.pot
**/.DS_Store
**/temp_exchange